<p><strong>Quick Summary:</strong></p>
<ul>
  <li>20+ years of experience in writing software in .NET and SQL Server.</li>
  <li>Angular v5 experience at Statebridge.</li>
  <li>Experience with C# F#, Silverlight, Web Services, LINQ, Entity Framework and XAML.</li>
  <li>Familiar with WCF (REST), SSIS, Data Mining, Windows Forms, Threading, and Services programs running on servers.</li>
  <li>Team experience working in Agile and TFS with Visual studio at Jeppesen and Gates.</li>
  <li>Experience with data conversion, mining and reporting using the Microsoft SQL Server stack.</li>
  <li>Implemented Database design across multiple systems based on requirements.</li>
  <li>Implemented process automation, performing data and system migrations and providing solutions that meet immediate and future needs of the business</li>
</ul>
<ul>
  <li>Experienced with SSIS in SQL Server versions, 2008 R2, 2012</li>
  <li>Experienced using data mining to provide proactive solutions for the business</li>
  <li>Familiar with SSRS 2008R2 and 2012 reports using a data warehouse.</li>
  <li>Involved in all aspects of SDLC</li>
  <li>Web experience with Javascript JQuery.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Relevant Work History</strong></p>
<p><strong>Statebridge: 1/2017 </strong><strong>&ndash;</strong><strong> 2/2018</strong></p>
<ul>
  <li>Developed front end system using angular for the call center.</li>
  <li>Developed C# processes to ingest data from Temp and other sources.</li>
  <li>Created C# process to send tax data to NRTT via their web API product.</li>
  <li>SSRS Reports, and SSIS packages for sql server.</li>
</ul>
<p><strong>Jeppesen: 10/2013 &ndash; 12-2015</strong></p>
